body {
    margin: 0;
}

.w3-section {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
    margin-top: 0;
    margin-bottom: 0;
}
.w3-hover-transparent:hover {
    color: rgb(201, 208, 224) !important;
    background-color: transparent !important;
}
.w3-fiord {
    background-color: #44526E;
    color: black;
}

.w3-text-fiord {
    color: #093fac !important;
}

.w3-background {
    background-image: linear-gradient(to right, rgb(2, 15, 56), rgb(0, 58, 68));
}
.w3-background2 {
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.w3-porfolio {
    margin-left: 35vw;
    margin-right: 35vw;
}

.w3-porfolio2 {
    margin-left: 25vw;
    margin-right: 25vw;
}

.w3-porfolio3 {
    margin-left: 15vw;
    margin-right: 15vw;
}

.w3-testimonial {
    margin-left: 30vw;
    margin-right: 30vw;
}

.w3-testimonial2 {
    margin-left: 20vw;
    margin-right: 20vw;
}

.w3-testimonial3 {
    margin-left: 5vw;
    margin-right: 5vw;
}

.w3-border {
    border: 3px solid rgb(2, 15, 56) !important;
}
.w3-animate-left1{position:relative;animation:animateleft 3s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right1{position:relative;animation:animateright 3s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
